section.call-back-block
    .uk-container
        h3 Хотите записаться на услуги в SPA
        form.uk-grid-small.uk-margin-auto(uk-grid='' class="uk-width-1-2@m")
            div(class='uk-width-1-2@s')
                label Имя
                    span.req *
                input.uk-input(type='text')
            div(class='uk-width-1-2@s')
                label Фамилия
                    span.req *
                input.uk-input(type='text')
            div(class='uk-width-1-2@s')
                label Телефон
                    span.req *
                input.uk-input.phone_us(type='text')
            div(class='uk-width-1-2@s')
                label Электронная почта
                    span.req *
                input.uk-input(type='text')
                                    
            .uk-margin.uk-text-center.uk-margin-auto
                label
                    input.uk-checkbox(type='checkbox', checked='')
                    span.uk-margin-small-left Я согласен на обработку персональных данных
            .uk-text-center.uk-margin
                p После заполнения и отправки формы заказа, наш менеджер свяжется с вами по телефону в ближайшее время.
            .uk-text-center.uk-width-1-1
                button.uk-button.uk-button-default Отправить
footer
    .uk-container
        div(class="uk-grid  uk-child-width-1-4@l uk-child-width-1-2@s" uk-grid)
            div
                h5 О SPA центре
                ul
                    li
                        a(href="") О нас
                    li
                        a(href="") Галерея
                    li
                        a(href="") Этикет
                    li
                        a(href="") События и новости
                    li
                        a(href="") Публикации и пресса
                    li
                        a(href="") Наши партнеры
                    li
                        a(href="") Отзывы
                    li
                        a(href="") Лицензия
                    li
                        a(href="") Правовая информация
            div
                h5 Услуги
                ul
                    li
                        a(href="") Диагностика и консультации
                    li
                        a(href="") SPA –уходы за телом
                    li
                        a(href="") Косметология и эстетическая медицина
                    li
                        a(href="") Art&Beauty студия
            div
                h5 Другие разделы
                ul
                    li
                        a(href="") Косметический бутик
                    li
                        a(href="") Спецпредложения
                    li
                        a(href="") SPA -сертификаты
                    li
                        a(href="") SPA- кухня
            div
                h5 Контакты
                ul
                    li Почта: Wolrdclass@gmail.com
                    li Телефон: +996 (700) 320 320
                    li Адрес: г.Бишкек, ул.Пудовника 146а
        .uk-text-center.uk-margin
            p  2016-2018 Beauty Spa by World. <br> Все права защищены.