doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		
	body.uk-animation-fade
		.uk-offcanvas-content
			include ../components/header.pug
			section.banner-top(class="uk-background-cover uk-text-center uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/jpg/eti.jpg);")
				div
					ul.uk-breadcrumb
						li
							a(href='') название страницы 
						li
							a(href='') название страницы
						li
							span название страницы
					h1 Этикет
			section.etiket
				.uk-container
					.uk-placeholder.uk-text-center
						p.uk-margin-remove Для чего нам нужны правила в таком волшебном месте, как SPA? Формулируются они для того, чтобы обеспечить максимальный комфорт и результативность. Примем как аксиому, что все сотрудники SPA руководствуются в своей работе специально разработанными нормами SPA-этикета. И помня, что «магия SPA» – это процесс двусторонний, рассмотрим основные «права и обязанности» клиентов.
					h5 Для того чтобы пребывание в нашем салоне принесло Вам максимальное удовольствие, пожалуйста, соблюдайте следующие правила:
					.uk-grid(uk-grid class="uk-child-width-1-2@m")
						div
							div.item
								p Бронирование времени для прохождения процедур происходит непосредственно у администратора салона или по предварительной записи по телефону салона
						div
							div.item
								p При осуществлении предварительной записи вы имеете право выбора специалиста. Свои предпочтения по этому вопросу необходимо обозначить администратору салона при бронировании времени прохождения процедур.
						div
							div.item
								p Во время записи на обслуживание обязательно проговаривайте с администратором подробно все услуги, которые вы хотите получить — это необходимо для резервирования определенного времени на ваше обслуживание.
						div
							div.item
								p Рассказ о наших spa-процедурах Вы можете получить у наших администраторов ,они с удовольствием ответят на все Ваши вопросы
						div
							div.item
								p Мы знакомимся с каждым нашим гостем. Для этого все посетители нашего спа  проходят регистрацию у администратора.
						div
							div.item
								p Если у Вас проблемы со здоровьем (острые и хронические заболевания, перенесенные травмы, аллергия) или особое состояние здоровья (беременность), мы должны это учитывать. Пожалуйста, информируйте об этом специалиста, выполняющего процедуру или администратора .
						div
							div.item
								p В случае неоднократно повторяющихся (более 3-х раз) несвоевременных отказов от забронированного времени визитов Администрация салона оставляет за собой право к аннулированию процедур.
						div
							div.item
								p Если Вы не можете посетить наш салон в забронированное время, просим вас отменить или изменить время Вашего визита не менее чем за 6 часов.
					h5  С уважением, Администрация СПА Салона
			//- Твой код тут 
			include ../components/footer.pug
		include assets/_scripts.pug