doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		
	body.uk-animation-fade
		.uk-offcanvas-content
			include ../components/header.pug
			section.banner-top(class="uk-background-cover uk-text-center uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/jpg/service.jpg);")
				div
					ul.uk-breadcrumb
						li
							a(href='') название страницы 
						li
							a(href='') название страницы
						li
							span название страницы
					h1 Косметология и эстетическая медицина 
			section.service
				.uk-container
					.uk-grid.border-bottom.uk-flex-middle(uk-grid)
						div(class="uk-width-expand@m left-side")
							div.uk-margin-medium
								.uk-flex-middle.uk-margin-remove(uk-grid='')
									div(class='uk-width-auto@m ')
										div(class="image uk-cover-container")
											img(src='img/png/human.png', alt='Image' uk-cover)
									div(class='uk-width-2-3@m')
										div
											h4 ЭСТЕТИЧЕСКАЯ КОСМЕТОЛОГИЯ
											p Эстетическая косметология - это косметологические программы по очищению, лечению, восстановлению, омоложению, устранению эстетических недостатков кожи.
						div(class="uk-width-1-4@m right-side")
							div
								.item.uk-position-relative
									ul
										li
											h5 Длительность
											span 5 дней
										li
											h5 Стоимость
											span от 1200 - 3000 за 1приход
									a(href="").uk-button.uk-button-default Записаться онлайн
					.uk-grid.border-bottom.uk-flex-middle(uk-grid)
						div(class="uk-width-expand@m left-side")
							div.uk-margin-medium
								.uk-flex-middle.uk-margin-remove(uk-grid='')
									div(class='uk-width-auto@m ')
										div(class="image uk-cover-container")
											img(src='img/png/human.png', alt='Image' uk-cover)
									div(class='uk-width-2-3@m')
										div
											h4 ЭСТЕТИЧЕСКАЯ КОСМЕТОЛОГИЯ
											p Эстетическая косметология - это косметологические программы по очищению, лечению, восстановлению, омоложению, устранению эстетических недостатков кожи.
						div(class="uk-width-1-4@m right-side")
							div
								.item.uk-position-relative
									ul
										li
											h5 Длительность
											span 5 дней
										li
											h5 Стоимость
											span от 1200 - 3000 за 1приход
									a(href="").uk-button.uk-button-default Записаться онлайн
			section.other-step
				.uk-text-center
					h2 Другие услуги
				section.step
					
					.uk-grid(class="uk-child-width-1-5@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-collapse" uk-height-match="target: > div > .item > .title" uk-grid)
						div
							.item
								span 01
								.image-wraper.uk-cover-container
									img(src="img/jpg/l1.jpg", alt="", uk-cover)
								.title.uk-flex-middle.uk-flex
									h3 Диагностика и консультации
								a(href="").uk-button.uk-button-default Подробнее
						div
							.item
								span 02
								.image-wraper.uk-cover-container
									img(src="img/jpg/l2.jpg", alt="", uk-cover)
								.title.uk-flex-middle.uk-flex
									h3 Косметология и эстетическая медицина
								a(href="").uk-button.uk-button-default Подробнее
						div
							.item
								span 03
								.image-wraper.uk-cover-container
									img(src="img/jpg/l3.jpg", alt="", uk-cover)
								.title.uk-flex-middle.uk-flex
									h3 SPA терапия
								a(href="").uk-button.uk-button-default Подробнее
						div
							.item
								span 04
								.image-wraper.uk-cover-container
									img(src="img/jpg/l4.jpg", alt="", uk-cover)
								.title.uk-flex-middle.uk-flex
									h3 Банный SPA
								a(href="").uk-button.uk-button-default Подробнее
						div
							.item
								span 05
								.image-wraper.uk-cover-container
									img(src="img/jpg/l5.jpg", alt="", uk-cover)
								.title.uk-flex-middle.uk-flex
									h3 Арт и Бьюти студия
								a(href="").uk-button.uk-button-default Подробнее
			//- Твой код тут 
			include ../components/footer.pug
		include assets/_scripts.pug